In [1]:
import requests
import pandas as pd
import json

In [ ]:
#select the data we want as parameters, this will be done using a button
data = {"var_sensor_id": 5586, "var_pollutant" :"Biossido di Azoto"} #Right now data is a dictionary

# send the request to the server, we use post because we are sending data to the server
t=requests.post(url="http://127.0.0.1:5000/api/DV_5", json=data) #json= data will convert the dictionary to a json object and send it to the server
#data = t.json()
#print(data)


try:
    data = t.json() #This will convert the response to a json object
    print("The query returned", len(data), "rows")
    print(type(data))
except requests.exceptions.JSONDecodeError:
    print("Risposta non valida JSON!")
    print("Contenuto della risposta:", t.text)
    data = None

The query returned 59450  rows
<class 'list'>

In [ ]:
# to visualize the response, we can conver the data to a pandas dataframe
df = pd.DataFrame(data)
print(df)

                                data  valore
0      Thu, 13 Apr 2023 21:00:00 GMT    18.7
1      Thu, 13 Apr 2023 22:00:00 GMT    13.3
2      Thu, 13 Apr 2023 23:00:00 GMT    16.1
3      Fri, 14 Apr 2023 00:00:00 GMT    23.2
4      Fri, 14 Apr 2023 01:00:00 GMT    21.2
...                              ...     ...
59445  Tue, 29 Mar 2022 21:00:00 GMT    58.1
59446  Tue, 29 Mar 2022 22:00:00 GMT    47.6
59447  Tue, 29 Mar 2022 23:00:00 GMT    43.8
59448  Wed, 30 Mar 2022 00:00:00 GMT    38.3
59449  Wed, 30 Mar 2022 01:00:00 GMT    27.4

[59450 rows x 2 columns]