# Connection to the database

In [52]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd

In [ ]:
# Setup db connection: in the folder of the project create a file called credentials.json
# with the following content: 
#{
#  "username": "your_username",
#  "password": "your_password"
#  "databasename": "your_database"
#  "port": "your_port"
#}
# Replace the username and password with your own credentials
import json

with open("credentials.json") as f:
    creds = json.load(f)

engine = create_engine(f'postgresql://{creds["username"]}:{creds["password"]}@localhost:{creds["port"]}/{creds["databasename"]}') 
con = engine.connect()

# Queries to retrive data for graphs and maps

In [54]:
# Funzione DV-5: Allow visualization of time series for specific pollutants measured by a selected sensor 
var_sensor_id = 5586
var_pollutant = "Biossido di Azoto"

query = f"SELECT V.data, V.valore \
    FROM sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore \
    WHERE S.id_sensore = '{var_sensor_id}' AND S.nome_tipo_sensore = '{var_pollutant}'"

df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

                   data  valore
0   2024-12-19 18:00:00    40.2
1   2024-12-19 19:00:00    44.3
2   2024-12-19 20:00:00    42.9
3   2024-12-19 21:00:00    40.1
4   2024-12-19 22:00:00    37.5
..                  ...     ...
290 2024-12-31 20:00:00    60.5
291 2024-12-31 21:00:00    58.5
292 2024-12-31 22:00:00    56.6
293 2024-12-31 23:00:00    53.9
294 2025-01-01 00:00:00    45.7

[295 rows x 2 columns]

In [55]:
# Funzione DV-7: Visualize time series of each pollutant for a selected province or municipality 
#Sceglie comune
var_comune="Milano"
var_pollutant="Benzene"

query = f"SELECT V.data, V.valore \
        FROM (sensor as S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN Station AS ST ON ST.id_stazione = S.id_stazione \
        WHERE ST.comune = '{var_comune}' AND S.nome_tipo_sensore = '{var_pollutant}'"

df_query = pd.read_sql_query(sql= text(query), con=con)
print(df_query)

#Sceglie provincia
var_provincia="MILANO"
var_pollutant="Benzene"

query = f"SELECT V.data, V.valore \
        FROM ((sensor as S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN Station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON M.comune = ST.comune \
        WHERE M.nome_provincia = '{var_provincia}' AND S.nome_tipo_sensore = '{var_pollutant}'"

df_query = pd.read_sql_query(sql= text(query), con=con)
print(df_query)

                   data  valore
0   2024-12-19 18:00:00     2.8
1   2024-12-19 18:00:00     1.8
2   2024-12-19 18:00:00     2.7
3   2024-12-19 19:00:00     3.9
4   2024-12-19 19:00:00     2.0
..                  ...     ...
880 2024-12-31 23:00:00     4.0
881 2024-12-31 23:00:00     4.5
882 2025-01-01 00:00:00     5.0
883 2025-01-01 00:00:00     4.5
884 2025-01-01 00:00:00     4.6

[885 rows x 2 columns]
                   data  valore
0   2024-12-19 18:00:00     2.8
1   2024-12-19 18:00:00     1.8
2   2024-12-19 18:00:00     2.7
3   2024-12-19 19:00:00     3.9
4   2024-12-19 19:00:00     2.0
..                  ...     ...
880 2024-12-31 23:00:00     4.0
881 2024-12-31 23:00:00     4.5
882 2025-01-01 00:00:00     5.0
883 2025-01-01 00:00:00     4.5
884 2025-01-01 00:00:00     4.6

[885 rows x 2 columns]

In [60]:
# Funzione DV-8: Show average pollutant concentrations over a selected time on a map, differentiated by area 
var_pollutant="Ozono"
var_start_date= "2024-12-19 18:00:00"
var_end_date = "2025-01-01 00:00:00"

query = f"""
SELECT AVG(V.valore) AS Avg_Concentration, M.sigla_provincia, M.geometry_province
FROM (
    (sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore)
    JOIN station AS ST ON ST.id_stazione = S.id_stazione
)
JOIN municipality AS M ON ST.comune = M.comune
WHERE V.data BETWEEN '{var_start_date}' AND '{var_end_date}'
  AND S.nome_tipo_sensore = '{var_pollutant}'
GROUP BY M.sigla_provincia, M.geometry_province
"""

df_query = pd.read_sql_query(sql= text(query), con=con)
print(df_query)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [ ]:
# Funzione DV-9: Display histograms of average pollutant concentrations per province, including global averages 
var_pollutant="Ozono"
var_start_date="2024-12-19 18:00:00"
var_end_date="2025-01-01 00:00:00"

query = f"""
SELECT AVG(V.valore) AS Avg_Concentration, M.nome_provincia
FROM (
    (sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore)
    JOIN station AS ST ON ST.id_stazione = S.id_stazione
)
JOIN municipality AS M ON ST.comune = M.comune
WHERE V.data BETWEEN '{var_start_date}' AND '{var_end_date}'
  AND S.nome_tipo_sensore = '{var_pollutant}'
GROUP BY M.nome_provincia
"""

df_query = pd.read_sql_query(sql= text(query), con=con)
print(df_query)

    avg_concentration         nome_provincia
0           17.155397                   LODI
1           50.455902                  LECCO
2           25.928950                  PAVIA
3           23.213465                BRESCIA
4           24.347080  MONZA E DELLA BRIANZA
5           37.562825                SONDRIO
6           19.647881                MANTOVA
7           25.291419                 VARESE
8           25.255932                   COMO
9            8.819774                CREMONA
10          23.180847                BERGAMO
11          18.655424                 MILANO

In [59]:
# Funzione DV-11: Graph the correlation between pollutant concentrations and sensor altitudes 
var_pollutant="Ozono"

query = f"SELECT AVG(V.valore) AS Avg_Concentration, M.quota\
        FROM ((sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON ST.comune=M.comune\
        GROUP BY M.quota\
        WHERE S.nome_tipo_sensore = '{var_pollutant}'"

df_query = pd.read_sql_query(sql= text(query), con=con)
print(df_query)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [ ]:
# Funzione DV-10: map correlation between pollutant concentrations and sensor altitudes 

#IN PAUSA






# Funzione EU-DV-1: Allow expert users to define polygons and analyze contained sensor data 



# Funzione EU-DV-2: Enable definition of thresholds to analyze pollutant data over time and area 
var_pollutant
var_start_date
var_end_date
var_province

query = f"SELECT V.data, V.valore\
        FROM ((sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON ST.comune=M.comune\
        WHERE V.data BETWEEN '{var_start_date}' AND '{var_end_date}' AND S.nome_tipo_sensore = '{var_pollutant}' AND M.nome_provincia='{var_province}'"

# Query to retrive useful information for the frontend

In [ ]:
#max date (ora probabilmente l'ordinamento sulla data non è corretto)

query = "SELECT MAX(data) FROM value"
df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

                   max
0  31/12/2024 23:00:00

In [ ]:
#min date (ora probabilmente l'ordinamento sulla data non è corretto)

query = "SELECT MIN(data) FROM value"
df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

                   min
0  01/01/2018 00:00:00

In [ ]:
query = "SELECT * FROM value WHERE data = '01/01/2025 00:00:00'"
df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

     id_sensore                 data  valore
0       10001.0  01/01/2025 00:00:00    71.3
1       10013.0  01/01/2025 00:00:00    74.0
2       10016.0  01/01/2025 00:00:00     3.1
3       10017.0  01/01/2025 00:00:00    54.2
4       10018.0  01/01/2025 00:00:00     2.6
..          ...                  ...     ...
390      9993.0  01/01/2025 00:00:00    21.2
391      9995.0  01/01/2025 00:00:00     0.9
392      9996.0  01/01/2025 00:00:00    23.2
393      9997.0  01/01/2025 00:00:00     6.0
394      9999.0  01/01/2025 00:00:00    46.2

[395 rows x 3 columns]

In [ ]:
# Pollutant types

query = "SELECT DISTINCT nome_tipo_sensore FROM sensor"
df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

             nome_tipo_sensore
0   Particolato Totale Sospeso
1                PM10 (SM2005)
2                       Cadmio
3                     Arsenico
4            Biossido di Zolfo
5                        Nikel
6                       Piombo
7            Biossido di Azoto
8           Monossido di Azoto
9                    Ammoniaca
10                        PM10
11                     Benzene
12             Ossidi di Azoto
13    Particelle sospese PM2.5
14       Monossido di Carbonio
15                       Ozono
16                 BlackCarbon
17              Benzo(a)pirene

In [ ]:
# Municipalities with sensors

query = "SELECT DISTINCT comune FROM station"
df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

                 comune
0        Agrate Brianza
1    Montanaso Lombardo
2        Motta Visconti
3    Sesto San Giovanni
4        Lonate Pozzolo
..                  ...
131              Tirano
132       Calolziocorte
133         Truccazzano
134           Melegnano
135               Crema

[136 rows x 1 columns]

In [ ]:
#Total number of municipalities

query = "SELECT DISTINCT comune FROM municipality"
df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

                    comune
0             Borgo Priolo
1                Casorezzo
2                 Valbrona
3                 Pianengo
4                Cittiglio
...                    ...
1501  Acquanegra Cremonese
1502               Credaro
1503    Lentate Sul Seveso
1504              Robbiate
1505  Villanuova Sul Clisi

[1506 rows x 1 columns]

In [ ]:
# Provinces with sensors
query = "SELECT DISTINCT M.nome_provincia FROM municipality AS M WHERE M.comune IN (SELECT DISTINCT ST.comune FROM station AS ST)"
df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

           nome_provincia
0                    LODI
1                   LECCO
2                   PAVIA
3                 BRESCIA
4   MONZA E DELLA BRIANZA
5                 SONDRIO
6                  VARESE
7                 MANTOVA
8                    COMO
9                 CREMONA
10                BERGAMO
11                 MILANO