In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd

In [5]:
# Setup db connection: in the folder of the project create a file called credentials.json
# with the following content: 
#{
#  "username": "your_username",
#  "password": "your_password"
#  "databasename": "your_database"
#}
# Replace the username and password with your own credentials
import json

with open("credentials.json") as f:
    creds = json.load(f)

engine = create_engine(f'postgresql://{creds["username"]}:{creds["password"]}@localhost:5432/{creds["databasename"]}') 
con = engine.connect()

In [10]:
# Funzione DV-5: Allow visualization of time series for specific pollutants measured by a selected sensor 
var_sensor_id = 5586
var_pollutant = "Biossido di Azoto"

query = f"SELECT V.data, V.valore \
    FROM sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore \
    WHERE S.id_sensore = '{var_sensor_id}' AND S.nome_tipo_sensore = '{var_pollutant}'"

df_query = pd.read_sql_query(sql= text(query), con=con)
df_query

                      data  valore
0      01/01/2018 01:00:00    41.4
1      27/01/2018 20:00:00    54.5
2      27/01/2018 21:00:00    53.9
3      27/01/2018 22:00:00    53.0
4      27/01/2018 23:00:00    48.6
...                    ...     ...
59445  15/04/2024 02:00:00     6.9
59446  15/04/2024 03:00:00     7.2
59447  15/04/2024 04:00:00     7.6
59448  15/04/2024 05:00:00     9.2
59449  15/04/2024 06:00:00    12.1

[59450 rows x 2 columns]

In [ ]:
# Funzione DV-7: Visualize time series of each pollutant for a selected province or municipality 
#Sceglie comune
var_comune
var_pollutant

query = f"SELECT V.data, V.valore \
        FROM (sensor as S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN Station AS ST ON ST.id_stazione = S.id_stazione \
        WHERE ST.comune = '{var_comune}' AND S.nome_tipo_sensore = '{var_pollutant}'"


#Sceglie provincia
var_provincia
var_pollutant

query = f"SELECT V.data, V.valore \
        FROM ((sensor as S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN Station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON M.comune = ST.comune \
        WHERE M.nome_provincia = '{var_provincia}' AND S.nome_tipo_sensore = '{var_pollutant}'"

In [ ]:
# Funzione DV-8: Show average pollutant concentrations over a selected time on a map, differentiated by area 
var_pollutant
var_start_date
var_end_date

query = f"SELECT AVG(V.valore) AS Avg_Concentration, M.nome_provincia, M.geometry \
        FROM ((sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON ST.comune=M.comune\
        GROUP BY M.nome_provincia, M.geometry_province \
        WHERE V.data BETWEEN '{var_start_date}' AND '{var_end_date}' AND S.nome_tipo_sensore = '{var_pollutant}'"

In [ ]:
# Funzione DV-9: Display histograms of average pollutant concentrations per province, including global averages 
var_pollutant
var_start_date
var_end_date

query = f"SELECT AVG(V.valore) AS Avg_Concentration, M.nome_provincia\
        FROM ((sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON ST.comune=M.comune\
        GROUP BY M.nome_provincia\
        WHERE V.data BETWEEN '{var_start_date}' AND '{var_end_date}' AND S.nome_tipo_sensore = '{var_pollutant}'"

In [ ]:
# Funzione DV-11: Graph the correlation between pollutant concentrations and sensor altitudes 
var_pollutant

query = f"SELECT AVG(V.valore) AS Avg_Concentration, M.quota\
        FROM ((sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON ST.comune=M.comune\
        GROUP BY M.quota\
        WHERE S.nome_tipo_sensore = '{var_pollutant}'"

In [ ]:
# Funzione DV-10: map correlation between pollutant concentrations and sensor altitudes 

#IN PAUSA






# Funzione EU-DV-1: Allow expert users to define polygons and analyze contained sensor data 



# Funzione EU-DV-2: Enable definition of thresholds to analyze pollutant data over time and area 
var_pollutant
var_start_date
var_end_date
var_province

query = f"SELECT V.data, V.valore\
        FROM ((sensor AS S JOIN value AS V ON V.id_sensore = S.id_sensore) JOIN station AS ST ON ST.id_stazione = S.id_stazione) JOIN municipality AS M ON ST.comune=M.comune\
        WHERE V.data BETWEEN '{var_start_date}' AND '{var_end_date}' AND S.nome_tipo_sensore = '{var_pollutant}' AND M.nome_provincia='{var_province}'"